<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/editRecipe.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Margarine&display=swap" rel="stylesheet"></head>

<body>
    <div class="header">
        <h1>Baking Time</h1>
        <img src="/img/bakingTime11.png" alt="" id="bakingTimeImg">
    </div>

    <div class="mainL">
        <img src="<%= recipe.img %>" />
        <div class="mainInformation">
            <form class="recipeInfo"  action="/recipes/<%=recipe.id%>?_method=PUT" method="POST">
                Preparation Time: <input class="recipe-list" type="text" name="preparation_time" value="<%=recipe.preparation_time%>" />
                Cooking Time: <input class="recipe-list"  type="text" name="cooking_time" value="<%=recipe.cooking_time%>" />
                
                Serves : <input  class="recipe-list"  type="text" name="serves" value="<%=recipe.serves%>" />
                <input type="submit" name="" value="Submit Changes" class="button" />
        </form>
        </div>
        </br>
        <form action="/recipes/<%= recipe.id; %>?_method=DELETE" method="POST">
            <input type="image" src="/icon/removeIcon.jpeg" class="icon" />
        </form>
    </div>
    <div class="mainR">

        <div class="subHeader">
            <p class="subHeader"><%= recipe.name_recipe %></p>
        </div>
                    
            <div class="ingredients"> 
                <div class="submenu">Ingredients</div>
                <form action="/ingredient/<%=ingredients.id%>?_method=PUT" method="POST">
                    <div id="ingredientChanges"><input type="submit" name="" value="Submit Changes" class="button" /></div>
                <% for ( let i = 0; i < ingredients.length; i++ ) {  %>
                    <input class="ingredient-item" id="qty" type="text" name="qty" value="<%=ingredients[i].qty%>" />
                    <input class="ingredient-item" id="uom" type="text" name="unit_of_measure" value="<%=ingredients[i].unit_of_measure%>" />
                    <textarea  name="ingredient-item" rows="1" cols="25"><%=ingredients[i].ingredient_description%>
                    </textarea>
                <% } %>
                </form>
            </div>

     
        
        <div class="instructions">
            <div class="submenu">Instructions</div>
            <div class="list-instructions">
            <% for ( let i = 0; i < instructions.length; i++ ) {  %>
                <textarea  name="instructions" rows="5" cols="100"><%=instructions[i].description%> 
                </textarea>
            <% } %>
            </div>
        </div>

    </div>



</body>

</html>